{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "petmagic-placeholder",
    "storage_bucket": "petmagic-placeholder.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "APP_PACKAGE_NAME"
        }
      },
      "oauth_client": [
        {
          "client_id": "replace-with-android-oauth-client-id.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "APP_PACKAGE_NAME",
            "certificate_hash": "replace-with-release-certificate-sha1"
          }
        },
        {
          "client_id": "replace-with-web-oauth-client-id.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "A00000000000000000000000000000000000000"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "replace-with-web-oauth-client-id.apps.googleusercontent.com",
              "client_type": 3
            },
            {
              "client_id": "replace-with-ios-oauth-client-id.apps.googleusercontent.com",
              "client_type": 2,
              "ios_info": {
                "bundle_id": "APP_PACKAGE_NAME"
              }
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
